<div>
    <h1>TODO List</h1>
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <label>Category</label>
                <select class=" form-control task-input" name="category">
                    <option *ngFor="let cat of categories" [value]="cat.id" [selected]="category===cat.text">{{cat.text}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Task</label>
                <input type='text' [(ngModel)]='task' class=" form-control task-input">
            </div>
            <div class="form-group">
                <button class="btn btn-success" (click)="save()">Save</button>
            </div>


        </div>
    </div>
    <!--<table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Status</th>
                <th>Task</th>
                <th>Category</th>
                <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let items of todo">
                <td><input type="checkbox" 
                           [attr.checked]="items.isComplete?true:null"
                           id="{{items.id}}"
                           (click)="toggle(items)"></td>
                <td>{{ items.statuses.description }}</td>
                <td>{{ items.task }}</td>
                <td>{{ items.category }}</td>
                <td>
                    <button class="btn btn-warning" (click)="update(items)">Edit</button>
                    <button class="btn btn-danger" (click)="delete(items.id)">Delete</button>
                </td>
        </tbody>
    </table>-->


    
        <div *ngFor="let items of todo" class="listContainer">
            <div class="row todoRow">
                <div class="col-md-1">
                    <input type="checkbox" 
                                [attr.checked]="items.isComplete?true:null"
                                id="{{items.id}}"
                                (click)="toggle(items)">
                </div>    
                <div class="col-md-3">
                    {{ items.statuses.description }}
                </div> 

                <div class="col-md-5">
                    {{ items.task }}
                </div> 


                <div class="col-md-3 btns">
                    <button class="btn btn-warning" (click)="update(items)">Edit</button>
                            <button class="btn btn-danger" (click)="delete(items.id)">Delete</button>
                </div>  
            </div>
        </div>
    


</div>