.task-input {
    border-radius: 7px;
    margin-left: 20px;
}

button {
    border-radius: .5em;
}

.todoRow {
    margin-bottom: 7px;
    border-bottom: 1px dotted gainsboro;
    padding:7px 0;
}

.listContainer {
    background-color: white;
    padding: 0px 15px;
    border: 1px solid #ccc;
    border-radius: 7px;
}

.enterTask {
    margin: 35px 0 21px 0;
}

.taskHdr {
    color: white;
}

.taskHdrRow {
    background-color: #014711;
    padding: 7px 0;
    margin-bottom: 10px;
}

.note {
    margin-top: 28px;
}